@{
    ViewData["Title"] = "Books Page";
}

@model IEnumerable<system.Models.Book>

<div class="bg-secondary text-white text-center p-5">
    <h1 class="display-4">BOOK SECTION</h1>
</div>

<div class="mt-3">
    <a asp-area="" asp-controller="Books" asp-action="Add" class="btn btn-primary btn-lg active" role="button"
        aria-pressed="true">
        Add a Book
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            @* <th>Book Id</th> *@
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Borrowing Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                @* <td>@book.BookId</td> *@
                <td>@book.Title</td>
                <td>@book.ISBN</td>
                <td>@book.Price</td>
                <td>@book.Author?.Name</td>
                <td>@book.BorrowingDate.ToString("yyyy-mm-dd")</td>
                <td class="">
                    <a asp-action="Edit" asp-route-id="@book.BookId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@book.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
